/* ====== ALL PAGE CODE ====== 
   =========================== */
@media screen and (min-width: 1200px) and (max-width: 1380px) {

/* ====== HEADER ====== 
   ==================== */

#main-header nav {
    width: 270px;
}

/* ====== HOME ====== 
   ================== */

#home {
    padding: 400px 0;
}

#home h2:first-child {
    margin-left: 36%;
}

#home h2:nth-child(2) {
    margin-left: 33%;
}

#home h2:nth-child(3) {
    margin-left: 31%;
}

#home p {
    font-size: 0.93em;
    margin-left: 28.5%;
    width: 850px;
}

#home a {
    margin-right: 73px;
}

/* ======= EXHIBITIONS ====== 
   ========================== */

#exhibit-info {
    width: 59%;
}

#exhibit-artists {
    height: 84px;
    margin-top: 1px;
}

/* ====== ARTISTS ====== 
   ===================== */

#artists article {
    width: 22%;
    margin: 40px 15px 0 15px;
    padding: 0 0 0 0;
}
    
/* ====== EVENTS ====== 
   ==================== */

#events-info article {
    width: 36%;
}

#warhol p:last-child, #dolce-vita p:last-child {
    font-weight: 600;
}
    
/* ====== VISIT ======
   ==================== */

#visit-location {
    width: 70%;
}

#jones-center, #laguna-gloria {
    padding: 0 65px;
}
}
