/* ====== ALL PAGE CODE ====== 
   =========================== */

@media screen and (min-width: 1366px) and (max-width: 1440px) { 
    
       .filler {
    height: 59px;
    background-color: #fff;
    content: "";
}

/* ====== HEADER ====== 
   ==================== */

#main-header nav {
    width: 323px;
}

/* ====== HOME ====== 
   ================== */

#home {
    padding: 400px 0;
}

#home h2:first-child {
    margin-left: 38%;
}

#home h2:nth-child(2) {
    margin-left: 35%;
}

#home h2:nth-child(3) {
    margin-left: 33%;
}

#home p {
    font-size: 0.99em;
    margin-left: 31%;
    width: 900px;
}

#home a {
    margin-right: 95px;
}

/* ====== ABOUT ======
   =================== */
    
#about video {
    width: 60%;
    margin: 46px 90px 0 40px;  
}

#about-info {
    width: 23%;
}

/* ======= EXHIBITIONS ====== 
   ========================== */

#exhibit-info {
    width: 59%;
}

#exhibit-artists {
    height: 84px;
    margin-top: 1px;
}

/* ====== ARTISTS ====== 
   ===================== */

#artists article {
    width: 22%;
    margin: 40px 19px 0 19px;
    padding: 0 0 0 0;
}
    
/* ====== EVENTS ====== 
   ==================== */

#events-info article {
    width: 38%;
}

#warhol p:last-child, #dolce-vita p:last-child {
    font-weight: 600;
}
    
/* ====== VISIT ======
   ==================== */

#visit-location {
    width: 70%;
}

#jones-center, #laguna-gloria {
    padding: 0 65px;
}

}