/* ====== ALL PAGE CODE ====== 
   =========================== */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    }


.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

#about, #exhibit, #artists, #events {
    margin-top: 35px;
}

.section-title {
    letter-spacing: -0.05em;
    font-size: 1.5em;
}

.filler {
    height: 65px;
    background-color: #fff;
    content: "";
}

/* ====== SHARED CODE ======
   ========================= */

body, #exhibit h3:first-child, #exhibit h4, #exhibit-artists-list, #artists figure, .material-icons, #artists-header h3 {
    margin: 0;  
}


#visit-location, #events-info, #visit-connect h4  {
    margin: 0 auto;
}

#about, #exhibit, #artists, #events, #visit {
    padding: 0 20px;
}

#main-header, #exhibit img, #artists figure, #artists img, #events-info img, .filler {
    width: 100%;
}

#main-header, #artists-header h3, #events h3, #events-info img, #visit-link {
    border-bottom: 5px solid #00E5EE;
}

#visit-connect h4, #visit, #home a, #home {
    color: #fff;
}

#jones-center p, #laguna-gloria p, .materials-icons, #main-header span, a:hover {
    color: #00E5EE;
}

#about-info, #about video, #main-header h1, #exhibit figure, #exhibit-info, #artists article, #events-info article, #jones-center, #laguna-gloria {
    float: left;
}

#home a, #main-header nav {
    float: right;
}

#visit-location h4, #visit-connect h4, #home h2, .section-title, #main-header h1 {
    font-weight: 400;
}

#home p, #visit {
    font-weight: 100;
}

#exhibit-location, #exhibit-artists-list, #warhol p, #dolce-vita p:last-child {
    font-weight: 700;
}

#about h3, #visit-connect h4, #visit-location h4, #events h3, #artists-profile h3, #artists-header h3, #exhibit h4, #home a, #main-header h1, .section-title {
    text-transform: uppercase;
}

#artists figure, #artists article, #exhibit-info, #exhibit figure {
    text-align: justify;
}

/* ====== HEADER ====== 
   ==================== */

#main-header {
    position: fixed;
    top: 0;
    background-color: #fff;
}

#main-header h1 {
    letter-spacing: -0.05em;
    font-size: 1.5em;
    padding-left: 20px;
}

#main-header nav {
    margin-top: 23px;
    width: 323px;
    padding-right: 20px;
}

#main-header nav a {
    margin-left: 12px;
}

/* ====== HOME ====== 
   ================== */

#home {
    background-image: url(../img/Home.jpg);
    background-size: cover;
    background-position: center;
    padding: 330px 0;
    margin-top: 0;
}

#home h2 {
    font-size: 2.5em;
    width: 60%;
    margin-top: -1.6%;
}

#home h2:first-child {
    margin-left: 38%;
}

#home h2:nth-child(2) {
    margin-left: 36.5%;
}

#home h2:nth-child(3) {
    margin-left: 35%;
}

#home p {
    font-size: 1.055em;
    margin-left: 33%;
    width: 1015px;
}

#home a {
    text-decoration: none;
    border: 5px solid #fff;
    padding: 15px 30px 15px 30px;
    margin-right: 156px;
}

/* ====== ABOUT ======
   =================== */

#about h3:first-child {
    font-size: 2em;
    border-top: 5px solid #00E5EE;
    width: 331px;
    margin-top: 47px;
}
    
#about video {
    width: 70%;
    margin: 46px 90px 0 40px;  
}

#about-info {
    width: 16%;
}

/* ======= EXHIBITIONS ====== 
   ========================== */

#exhibit figure {
    width: 30%;
    height: 30%;
    font-weight: 300;
    font-size: 0.9em;
    margin-top: 46px;
}

#exhibit-info {
    width: 61%;
    margin-left: 45px;
    margin-top: 40px;
}

#exhibit h3:first-child {
    font-size: 2em;
    margin-top: 7px;
    border-top: 5px solid #00E5EE;
    width: 308px;
}

#exhibit-artists {
    height: 66px;
    margin-top: 40px;
}

#exhibit-location {
    font-style: italic;
    letter-spacing: 0.04em;
}

/* ====== ARTISTS ====== 
   ===================== */
    
#artists-header h3 {
    clear: both;
    width: 207px;
    margin-bottom: 40px;
}

#artists article {
    width: 23%;
    margin: 40px 15px 0 15px;
    box-sizing: border-box;
    padding: 0 25px 0 25px;
}

#artists figure {
    font-weight: 300;
    font-size: 0.85em;
}

#artists-profile h3 {
    text-align: center;
    margin-top: 40px;
}

/* ====== EVENTS ====== 
   ==================== */

#events h3 {
    width: 176px;
}

#sleep {
    font-style: italic;
}

#events-info {
    width: 90%;
}

#events-info article {
    width: 40%;
    margin: 30px;
    padding: 40px;
    height: 670px;
}

#events-info img {
}

.material-icons {
    padding: 0;
}

#warhol p:nth-child(4) {
    font-style: italic;
}

/* ====== VISIT ======
   ==================== */

#visit-link {
    margin-top: 35px;
    border-bottom: 5px solid #00E5EE;
}

#visit {
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/footer.jpg);
    background-color: #00E5EE;
    padding: 0 20px;
}

#visit header {
    padding: 20px 0 0 0;
}

#visit-location {
    width: 60%;
    margin-top: 50px;
}

#jones-center, #laguna-gloria {
    width: 33%;
    padding: 0 80px;
}

.location {
    font-size: 1.3em;
}

#visit-location h4:nth-child(2) {
    margin-bottom: 0;
}

#visit-location h4:nth-child(3) {
    margin-top: 0;
}

#jones-center p, #laguna-gloria p {
    letter-spacing: -0.02em;
}

#visit-connect {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

#visit-connect h4 {
    border: 5px solid #fff;
    width: 10%;
    padding: 20px 10px;
    margin-bottom: 30px;
    font-size: 1.3em;
}

a.socialIcons {
    margin-right: 40px;
    padding-top: 3%;
}

a.socialIcons:hover {
    opacity: 0.4;
}


    
    