body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #00E5EE;
}

/* HEADER */

header h1 {
    font-weight: 500;
    letter-spacing: -0.05em;
    float: left;
    text-transform: uppercase;
    font-size: 1.5em;
}

header span {
    color: #00E5EE;
}

header nav {
    float: right;
    margin-top: 23px;
    width: 330px;
}

header nav a {
    margin-left: 12px;
}

/* HOME */

#home {
    background-image: url(../img/Home.jpg);
    background-size: cover;
    background-position: center;
    padding: 330px 0;
    color: #fff;
    margin-top: 0%;
}

#home h2 {
    font-weight: 400;
    font-size: 2.5em;
    width: 60%;
    margin-top: -1.6%;
}

#home h2:first-child {
    margin-left: 38%;
}

#home h2:nth-child(2) {
    margin-left: 36.5%;
}

#home h2:nth-child(3) {
    margin-left: 35%;
}

#home p {
    font-weight: 100;
    font-size: 1.055em;
    margin-left: 33%;
    width: 1015px;
}

#home a {
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 30px 15px 30px;
    float: right;
    margin-right: 156px;
    text-transform: uppercase;
}

/* EXHIBITIONS */

#exhibit {
    margin-top: 100px;
}

#exhibit figure {
    width: 30%;
    height: 30%;
    font-weight: 300;
    text-align: justify;
    font-size: 0.9em;
    float: left;
}

#exhibit img {
    width: 100%;
}

#exhibit-info {
    width: 61%;
    float: left;
    margin-left: 45px;
    margin-top: 7px;
    text-align: justify;
}

#exhibit h3:first-child {
    font-size: 2em;
    margin: 0;
    margin-top: 7px;
    border-top: 5px solid #00E5EE;
    width: 306px;
}

#exhibit-artists {
    height: 95px;
    margin-top: 40px;
}

#exhibit h4 {
    text-transform: uppercase;
    margin: 0;
}

#exhibit-artists-list {
    margin: 0;
}

#exhibit-artists-list, #exhibit-location {
    font-weight: 700;
}

#exhibit-location {
    font-style: italic;
    letter-spacing: 0.04em;
}

/* ARTISTS */

#artists {
    margin-top: 100px;
}

#artists-header h3 {
    clear: both;
    text-transform: uppercase;
    width: 205px;
    border-bottom: 5px solid #00E5EE;
}

#artists article {
    float: left;
    width: 23%;
    margin: 40px 15px 0 15px;
    text-align: justify;
    box-sizing: border-box;
    padding: 0 25px 0 25px;
}

#artists figure {
    width: 100%;
    font-weight: 300;
    text-align: justify;
    font-size: 0.85em;
    margin: 0;
}
    
#artists img {
    width: 100%;
    height: 255px;
}

#artists-profile h3 {
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
}




    
    
    